<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指向我们的dao所在的地址 -->
<mapper namespace="com.gmobile.dao.RoleDao">

    <resultMap id="userRole" type="UserRole">
    <id column="id" property="id" />
    <result column="roleId" property="roleId" />
    <result column="userId" property="userId" />
    </resultMap>

    <resultMap id="role" type="UserRole">
        <id column="id" property="id" />
        <result column="roleName" property="roleName" />
        <result column="description" property="description" />
    </resultMap>

    <select id="selectRolesByUserId" resultMap="userRole">
        SELECT usr_role.id,usr_role.roleName,usr_role.description FROM
        usr_user_role,usr_role WHERE usr_user_role.userId = #{user.id}
        AND usr_user_role.roleId = usr_role.id
    </select>

    <select id="selectAllRoles" resultMap="role">
        SELECT *
        FROM usr_role
    </select>

</mapper>