<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指向我们的dao所在的地址 -->
<mapper namespace="com.gmobile.dao.UserDao">

    <resultMap id="user" type="User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="mobile" property="mobile" />
        <result column="password" property="password" />
        <result column="createTime" property="createTime" />
        <result column="status" property="status" />
    </resultMap>

    <insert id="insert">
        INSERT INTO
          usr_user(username,password,createTime,status)
        VALUES (#{user.username},#{user.password},#{user.createTime},#{user.status})
    </insert>

    <insert id="insertNotExist">
        INSERT INTO
        usr_user(username,password,createTime,status) SELECT (#{user.username},#{user.password},#{user.createTime},#{user.status})
        FROM UDAL WHERE NOT EXISTS (SELECT username FROM usr_user WHERE username = #{user.username})
    </insert>
    <!--INSERT INTO card(cardno, cardnum) SELECT '111', '100' FROM DUAL WHERE NOT EXISTS(SELECT cardno FROM card WHERE cardno = '111');-->

    <select id="loginUser" resultType="user">
        SELECT * FROM
        usr_user WHERE username = #{user.username} and password = #{user.password}
    </select>

    <select id="selectAllUsers" resultMap="user">
        SELECT * FROM
        usr_user
    </select>

    <delete id="deleteUser">
        DELETE FORM
        usr_suer WHERE id = #{id}
    </delete>
</mapper>